name: A-windows-2022

on: 
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-2022
    timeout-minutes: 9999
    
    steps:
    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 5
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "VpsWinserv228666." -Force)
    - name: Download
      run: |
       Invoke-WebRequest https://download.anydesk.com/AnyDesk.exe -OutFile AnyDesk.exe
       Invoke-WebRequest https://raw.githubusercontent.com/huynhphuocan1991/HP/main/aidi.bat -OutFile aidi.bat
       Invoke-WebRequest https://raw.githubusercontent.com/huynhphuocan1991/Free-RDP/main/myps.bat -OutFile myps.bat
       Invoke-WebRequest https://raw.githubusercontent.com/huynhphuocan1991/HP/main/allinone/SOFT.bat -OutFile SOFT.bat
    - name: Install
      run: .\anydesk.exe --install "C:\Program Files (x86)\AnyDesk" --start-with-win
    - name: Sleep
      run: sleep 5
    - name: Show ID
      run: .\aidi.bat
    - name: Setup PSWORD
      run: .\myps.bat
    - name: Setup SOFT
      run: .\SOFT.bat
    - name: Loop
      run: sleep 99999
